<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bdqn.mapper.AlbumMapper" >
  <resultMap id="BaseResultMap" type="cn.bdqn.domain.Album" >
    <id column="a_id" property="aId" jdbcType="INTEGER" />
    <result column="a_name" property="aName" jdbcType="VARCHAR" />
    <result column="a_sid" property="aSid" jdbcType="INTEGER" />
    <result column="a_url" property="aUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    a_id, a_name, a_sid, a_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_album
    where a_id = #{aId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_album
    where a_id = #{aId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.bdqn.domain.Album" >
    insert into t_album (a_id, a_name, a_sid, 
      a_url)
    values (#{aId,jdbcType=INTEGER}, #{aName,jdbcType=VARCHAR}, #{aSid,jdbcType=INTEGER}, 
      #{aUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.bdqn.domain.Album" >
    insert into t_album
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aId != null" >
        a_id,
      </if>
      <if test="aName != null" >
        a_name,
      </if>
      <if test="aSid != null" >
        a_sid,
      </if>
      <if test="aUrl != null" >
        a_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aId != null" >
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="aName != null" >
        #{aName,jdbcType=VARCHAR},
      </if>
      <if test="aSid != null" >
        #{aSid,jdbcType=INTEGER},
      </if>
      <if test="aUrl != null" >
        #{aUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bdqn.domain.Album" >
    update t_album
    <set >
      <if test="aName != null" >
        a_name = #{aName,jdbcType=VARCHAR},
      </if>
      <if test="aSid != null" >
        a_sid = #{aSid,jdbcType=INTEGER},
      </if>
      <if test="aUrl != null" >
        a_url = #{aUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bdqn.domain.Album" >
    update t_album
    set a_name = #{aName,jdbcType=VARCHAR},
      a_sid = #{aSid,jdbcType=INTEGER},
      a_url = #{aUrl,jdbcType=VARCHAR}
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
</mapper>