*{
	padding: 0px;
	margin: 0px;
}
.img{
	width: 550px;
}
#left{
	float: left;
	
}
#right{
	float: right;
	margin-right: 28%;
	margin-top: 5%;
	
}
.text{
	display: block;
	width: 180%;
	height: 65px;
	margin-top: 35px;
	font-size: 30px;
}
h1{
	font-size: 70px;
}
.butten{
	margin-top: 40px;
}

